*{
    margin: 0;
    padding: 0;
}
.firstSection{
    background-color: #1F2937;
}
html,body {
    overflow-x: hidden;
}
#headerLogo{
    font-size: 24px;
    color: #F9FAF8;
    left: 170px;
    position: relative;
    float: left;
}
.navBar{
    position: relative;
    top: 7px;
}
#topRight{
    display: flex;
    color: #E5E7EB;
    position: relative;
    left: 760px;
}
ul{
    list-style-type: none;
}
ul li{
    padding: 0 20px;
    overflow: hidden;
}
nav ul li a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
  }
#signUp{
    margin-top: 150px;
    position: relative;
    left: 170px;
}
#mainTitle{
    font-size: 48px;
    color: #F9FAF8;
}
#signButton{
    background-color: #3882F6;
    width: 100px;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-color:#1F2937;
    position: relative;
    right: 5px;
    display: inline-block;
    font-weight: bold;
}
#paragraph{
    font-size: 18px;
    color: #E5E7EB;
}
#img{
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 215px;
    width: 550px;
    height: 220px;
}
#infoHeader{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}
#squaresDiv:after{
    box-sizing: border-box;
}
.squares{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    padding: 20px;
    position: relative;
    left: 120px;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: space-between;
    margin: 35px;
}
.imageText{
    position: relative;
    top: 230px;
    font-size: 20px;
}
#thirdSection{
    margin-top: 100px;
    background-color: #E5E7EB;
    height: 430px;
}
#quote{
    position: relative;
    top: 100px;
    font-size: 36px;
    left: 300px;
    color: #1F2937;
}
#forthSection{
    margin-top: 90px;
    background-color: #3882F6;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    height: 100px;
}
#forthTitle{
    top: 30px;
    color: #E5E7EB;
    position: relative;
    left: 40px;
}
#textForth{
    color: #E5E7EB;
    position: relative;
    left: 40px;
    top: 30px;
}
#forthButton{
    background-color: #3882F6;
    width: 110px;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border-color:#F9FAF8;
    position: relative;
    left: 700px;
    bottom: 10px;
    font-weight: bold;
}
#quoteBy{
    position: relative;
    left: 1000px;
    font-weight: bold;
    top: 100px;
    font-size: 30px;
}
footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    margin-top: 50px;
    height: 75px;
}
#textFooter{
    position: relative;
    top: 25px;
    font-weight: bold;
    font-size: 20px;
}